

body {
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.create-vacancy {
    border: 1px solid #ffcc00; /* Задаем однотонную границу толщиной 2px */
    border-radius: 20px;
    color: #ffcc00;
    background-color: transparent; /* Прозрачный фон */
    padding: 7px;
}
.create-vacancy:hover {
    color: #000000;
    background-color:#ffcc00;
    border-color: #ffcc00;
}
.wrapper{
    flex-grow: 1;
}

.open{
    display: flex !important;
}
.registration {
    grid-area: registration;
    background-color: #d7d7d7;
    width: 100%;
    border-radius: 15px;
    /* margin: 20px; */
    padding: 20px;
}
.registration h3 {
    margin-bottom: 1%;
}
.registration button{
    background-color: #ffcc00;
    color: #333;
    border-radius: 15px;
    border: #ffcc00;
    padding: 10px;
}
.registration button:hover{
    background-color: #d2a801;
    color: #333;
    border-radius: 15px;
    border: #ffcc00;
    padding: 10px;
}
.option {
    grid-area: option;
    gap: 20px;
}
.option p {
    margin-bottom: 10px; /* Задает отступ снизу для всех элементов <p> внутри .option */
}
.option2 {
    grid-area: option2;
}
.option3 {
    grid-area: option3;
}
.option4 {
    grid-area: option4;
}
.option5 {
    grid-area: option5;
}
main {
    width: 100vw; /* Растягиваем на весь экран по ширине */


}

.expiriance h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 20px;
}
.data p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5d5d5d;
    font-size: 12px;
}
.expiriance p { 
    color: #000000;
    font-size: 14px;
}
.expiriance2 p { 
    color: #000000;
    font-size: 14px;
}
.expiriance2 h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 20px;
}
.data2 p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5d5d5d;
    font-size: 12px;
}
.data3 p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5d5d5d;
    font-size: 12px;
}
.data4 p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5d5d5d;
    font-size: 12px;
}
.expiriance3 p { 
    color: #000000;
    font-size: 14px;
}
.expiriance3 h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 20px;
}
.expiriance4 p { 
    color: #000000;
    font-size: 14px;
}
.expiriance4 h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 20px;
}
.expiriance5 p { 
    color: #000000;
    font-size: 14px;
}
.expiriance5 h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 20px;
}
.expiriance6 p { 
    color: #000000;
    font-size: 14px;
}
.expiriance6 h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 20px;
}
.main-grid {
    display: grid;
    align-items: start;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "registration registration"
    "option imag-grid"
    "option2 option3";
}
.text-time {
    color: #5d5d5d;
}
.option-grid {
    display: grid;
    align-items: start;
    justify-content: center;
    gap: 20px;
    /* padding: 40px; */
    grid-template-columns: 100px 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-areas: 
    "expiriance-title expiriance-title"
    "data expiriance"
    "data oexpiriance2"
    "data2 expiriance3"
    "data2 oexpiriance4"
    "expiriance-title2 expiriance-title2"
    "tags2 tags2"
    "expiriance-title3 expiriance-title3"
    "option4 option4"
    "expiriance-title4 expiriance-title4"
    "option5 option5"
    "expiriance-title5 expiriance-title5"
    "data3 expiriance5"
    "expiriance-title6 expiriance-title6"
    "tags3 tags3"
    "expiriance-title7 expiriance-title7"
    "data4 expiriance6";
}
.expiriance-title {
    grid-area: expiriance-title;
    
    color: #737373;
}
.expiriance-title2 {
    grid-area: expiriance-title2;
    
    color: #737373;
}
.expiriance-title3 {
    grid-area: expiriance-title3;
    
    color: #737373;
}
.expiriance-title4 {
    grid-area: expiriance-title4;
    
    color: #737373;
}
.expiriance-title5 {
    grid-area: expiriance-title5;
    color: #737373;
}
.expiriance-title6 {
    grid-area: expiriance-title6;
    color: #737373;
}
.expiriance-title7 {
    grid-area: expiriance-title7;
    
    color: #737373;
}
.exexpiriance {
    grid-area: expiriance;
}
.exexpiriance2 {
    grid-area: expiriance2;
}
.exexpiriance3 {
    grid-area: expiriance3;
}
.exexpiriance4 {
    grid-area: expiriance4;
}
.exexpiriance5 {
    grid-area: expiriance4;
}

.exexpiriance6 {
    grid-area: expiriance4;
}
.data {
    grid-area: data;
}
.data2 {
    grid-area: data2;
}
.data3 {
    grid-area: data3;
}
.data4 {
    grid-area: data4;
}
.imag-grid {
    grid-area: imag-grid;
}
.imag-grid img {
    width: 170px;
    height: 180px;
    border-radius: 10px;

}
.tags {
    margin-top: 5px;
    margin-bottom: 10px;
}
.tags2 {
    margin-bottom: 10px;
    grid-area: tags2;
}
.tags3 {

    grid-area: tags3;
}
.tag {
    display: inline-block;
    background-color: #fffde5;
    color: #333333;
    padding: 3px 8px;
    border-radius: 7px;
    font: arial;
    margin-right: 5px;
    font-size: 14px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    background-color: #333;
    color: #FAF6F2;
    padding: 0 40px;
}

.logo{
    display: flex;
    font-size: large;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    background-color: #ffcc00;
    width: 50px;
    height: 50px;
    color: white;
    text-decoration: none;
}
.header a {
    text-decoration: none; /* Убираем подчёркивание для ссылки */
}
.nav{
    display: flex;
    width: 700px;
    padding: 0 40px;
    align-items: center;
}

.nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a:hover {
    color: #ffcc00;
}
.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #FAF6F2;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FAF6F2;
    transition: all 0.3s ease 0s;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }


/* Добавляем класс active для анимации иконки бургера */
.burger.active span { transform: scale(0) }

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}


/* При разрешении экрана 900px и ниже, выводим на экран иконку бургера */
@media (max-width: 900px) {

    .burger { display: flex }

    .nav{
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: black;
        animation: burgerAnimation 0.4s;
    }

    .nav ul{
        flex-direction: column;
        row-gap: 30px;
    }
}

@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}
footer {
    padding: 50px;
}
.footer-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto  auto auto;
    grid-template-areas: 
        "buttons-1 buttons-2 map"
        "buttons-3 buttons-3 buttons-3"
        "down-footer2 down-footer2 down-footer2"
        "down-footer down-footer down-footer"
        ;
}
.buttons-1 {
    grid-area: buttons-1;
    text-align: left;
}
.buttons-1 a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    display: block;
    margin-bottom: 11px;
    font-size: 16px;
}

.buttons-1 a:hover {
    color: #ffcc00;
}

.buttons-2 {
    grid-area: buttons-2;
    text-align: left;
}
.buttons-2 a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    display: block;
    margin-bottom: 11px;
    font-size: 16px;
}

.buttons-2 a:hover {
    color: #ffcc00;
}
.map {
    grid-area: map;
    border-radius: 10px;
    overflow: hidden;
   
}


.buttons-3  {
    margin-top: 50px;
    grid-area: buttons-3;
    display: flex;
    justify-content: flex-start;
    
    
}

.buttons-3 a,
.buttons-3 h5 {
    display: inline;
    
     /* Устанавливаем элементы в строчку */
    margin-right: 10px; /* Добавляем небольшой отступ между элементами */
}

.buttons-3 a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    font-size: 13px;

}

.buttons-3 a:hover {
    color: #ffcc00;
}
.down-footer {
    grid-area: down-footer;
    margin: 0px;
    padding: 0px;
    color: #ffcc00;

}
.down-footer a{
    padding: 20px;
    color: #ffcc00;

}
.down-footer2 {
    grid-area: down-footer2;
    margin: 0px;

    text-align: left; /* Выравнивание текста по левой стороне */
}

.down-footer2 p {
    display: inline;
    font-size: 13px;
    color: #ffffff;
}
.down-footer h5 {

    padding-top: 20px;

}
.aside-grid {
    display: grid;
    align-items: start;
    background-color: #aaaaaa;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "example example2 example3"
   ;
}
.example{
    grid-area: example;
}
.example p {
    color: #ffcc00;
    font-size: 16px;
}
.example p1 {
    color: #5d5d5d;
    font-size: 14px;

}
.example2 {
    grid-area: example2;
}
.example2 p {
    color: #ffcc00;
    font-size: 16px;
}
.example2 p1 {
    color: #5d5d5d;
    font-size: 14px;

}
.example3 {
    grid-area: example3;
}
.example3 p {
    color: #ffcc00;
    font-size: 16px;
}
.example3 p1 {
    color: #5d5d5d;
    font-size: 14px;

}