
main {
    flex: 1; 
    display: flex;
    flex-direction: column; /* Устанавливаем вертикальное расположение элементов */
    align-items: center;
}
.container {
    display: grid;
    grid-template-columns: 200px auto; /* Один столбец для фильтров и один для вакансий */
    gap: 20px; /* Отступ между столбцами */
  }
.sort {
    margin-bottom: 20px;
}

.filters {
    margin-right: 20px; /* Отступ справа для раздела фильтров */
}
.filters h3 {
    margin-bottom: 10px;
}

.vacancy-list {
    list-style-type: none;
}

.vacancy-list li {
    margin-bottom: 10px;
}

.vacancy-list a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.vacancy-list a:hover {
    color: #ffcc00;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto; /* Поднимаем footer вниз страницы */
}
.vacancy {
    border: 2px solid #000;
    border-radius: 15px;
    padding: 10px;
    width: 900px;
    /* background-color: #fff;  */
    /* Белый фон внутри рамки */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
    /* Тень */
}

.vacancy img {
    max-width: 100%;
    border-radius: 5px;
}

.vacancy .info {
    margin-left: 10px;
}

.vacancy h2 {
    margin-top: 0;
}

.vacancy p {
    margin-bottom: 10px;
}

.vacancy .tags {
    margin-top: 5px;
}

.vacancy .tag {
    display: inline-block;
    background-color: #f0f0f0;
    color: #333;
    padding: 3px 8px;
    border-radius: 15px;
    margin-right: 5px;
}

