/* Обнуление стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Чтобы footer всегда был внизу страницы */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters {
    margin-bottom: 20px;
}

.vacancy-list {
    list-style-type: none;
}

.vacancy-list li {
    margin-bottom: 10px;
}

.vacancy-list a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.vacancy-list a:hover {
    color: #ffcc00;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto; /* Поднимаем footer вниз страницы */
}

